/* Reset básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;

  /* Fondo */
  background: linear-gradient(135deg, #2c7be5, #043262);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo en esquina */
.logo {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 200px;
  z-index: 1000;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.3));
}

/* Contenedor central */
.container {
  text-align: center;
  color: white;
}

/* Título */
h1 {
  margin-bottom: 40px;
  font-size: 2rem;
}

/* Contenedor de botones */
.options {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tarjetas */
.card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 140px;

  background: white;
  color: #043262;

  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;

  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);

  transition: all 0.2s ease;
}

/* Hover */
.card:hover {
  transform: scale(1.05);
  background: #f1f5ff;
}